body{
  margin:0;
  font-family:'Segoe UI',sans-serif;
  background:#0f172a;
  color:#fff;
}

.container{
  max-width:1250px;
  margin:auto;
  padding:10px;
}

h2{
  text-align: center;
  margin: 0px 0 11px;
  font-size: 24px;
}

.card{
  background:#1e293b;
  padding:12px;
  border-radius:10px;
  margin-bottom:10px;
}

.card h4{
  width: 100%;
  margin: 5px 0 -4px;
  text-align: center;
}

.flex {
  display: flex;
  gap: 6px;
  border-radius: 8px;
  flex-direction: column;
  margin-top: 10px;
}

.flex h4{
  width: 100%;
  text-align: center;
  font-size: 12px;
  margin: 0;
}

.flexib{
  display: flex;
  gap: 10px;
}

.flexib div{
  display: flex;
  gap: 6px;
  background: #020617;
  padding: 8px;
  border-radius: 8px;
  flex-direction: row;
  flex-wrap: wrap;
  width: stretch;
}

.grid{
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: nowrap;
  margin-top: 10px;
}

@media(max-width:400px){
  .grid{
    flex-direction: column;
  }
}

.grid div{
  display: flex;
  gap: 6px;
  background: #020617;
  padding: 8px;
  border-radius: 8px;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.grid h4 {
  width: 100%;
  text-align: center;
  font-size: 12px;
  margin: 0;
}

input{
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: none;
  background: #334155;
  color: #fff;
  font-size: 14px;
}

select{
  width:100%;
  padding:10px;
  margin-top:5px;
  border-radius:6px;
  border:none;
  background:#334155;
  color:#fff;
  font-size:14px;
}

input[readonly]{
  background:#38bdf8;
  color:#000;
  font-weight:bold;
}

.btn-group{
  display:flex;
  gap:6px;
  margin-top:8px;
}

button{
  flex:1;
  padding:10px;
  border:none;
  border-radius:6px;
  font-size:13px;
  font-weight:bold;
}

button:nth-child(1){background:#22c55e;color:#000}
button:nth-child(2){background:#ef4444;color:#fff}
